* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1a1a1a;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 115px;
    background-color: #000;
    flex-wrap: wrap;
    gap: 1rem;
}

.logo-img {
    width: 191px;
    height: 46px;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #000;
    width: 200px;
    padding: 1rem;
}

nav.active {
    display: block;
}

nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    white-space: nowrap;
}

.hamburger {
    font-size: 1.5rem;
    cursor: pointer;
}

@media (min-width: 1024px) {
    nav {
        display: flex !important;
        position: static;
        width: auto;
        padding: 0;
        gap: 1rem;
    }

    nav a {
        padding: 0 0.5rem;
        display: inline-block;
    }

    .hamburger {
        display: none;
    }
}

.main-visual {
    width: 100%;
    height: 622px;
    background: url('../images/image.png') no-repeat center center/cover;
    position: relative;
}

.site-intro {
    background-color: #0F0F0F;
    padding: 66px 104px;
}

.site-intro h1 {
    font-size: 54.86px;
    margin-bottom: 1rem;
    font-family: 'DINAlternate-Bold', sans-serif;
}

.site-intro p {
    font-size: 20.57px;
    margin-bottom: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

/* Movie Grid */
.movie-grid {
    padding: 51px 114px;
}

.movie-grid h2 {
    font-size: 36.57px;
    font-family: 'DINAlternate-Bold', sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

.favorites-section {
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.favorites-section h2 {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 8px 12px;
}

.search-bar .search-icon {
    color: white;
    font-size: 18px;
    margin-right: 8px;
}

.search-bar input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 150%;
}

.search-bar input::placeholder {
    color: #aaa;
}

.grid {
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    padding-top: 50px;
    padding-bottom: 1rem;
    scroll-behavior: smooth;
}

.grid::-webkit-scrollbar {
    height: 8px;
}

.grid::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}


.movie-card {
    position: relative;
    flex: 0 0 calc(33.333% - 1.33rem);
    background: #333;
    border-radius: 5px;
}

.movie-card img {
    width: 100%;
    height: 606px;
    object-fit: cover;
}

.movie-card h3 {
    font-size: 32px;
    font-weight: 400;
    font-family: 'DINAlternate-Bold', sans-serif;
    margin-bottom: 0.5rem;
}

.movie-card p {
    font-size: 18.29px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0.5rem;
}

.content {
    background-color: #3C3C3C;
    padding: 12px 26px;
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    background: #1D1D1DE6;
    font-size: 1rem;
    color: #aaa;
    cursor: pointer;
}

.contact {
    background-color: #000;
    color: #fff;
    padding: 3rem 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    width: 100%;
    justify-content: space-between;
}

.contact-form {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
}

.contact-form h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.contact-form p {
    margin-bottom: 1.5rem;
    color: #ccc;
}

.name-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.name-fields div {
    flex: 1;
}

.contact-form label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: 500;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.75rem;
    background: #333;
    border: none;
    color: #fff;
    margin-bottom: 1rem;
    border-radius: 6px;
}

.contact-form .required::after {
    content: " *";
    color: red;
}

.contact-form .checkbox {
    display: flex;
    align-items: start;
    white-space: normal;
    margin-bottom: 1rem;
    gap: 0.5rem;
}

.contact-form .checkbox_input {
    width: 15px;
    height: 15px;
    margin-top: 2px;
}

.contact-form .checkbox a {
    color: #fff;
    text-decoration: underline;
}

.contact-form .submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #CC9601;
    margin-top: 1rem;
}

.contact-form button {
    background: #f1c40f;
    padding: 0.75rem 1.5rem;
    border: none;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    border-radius: 6px;
}

.contact-form .note {
    font-size: 0.85rem;
    color: #aaa;
    margin-top: -0.5rem;
}

.map {
    flex: 1;
    min-width: 300px;
    max-width: 100%;
    height: 588px;
    border: none;
    border-radius: 8px;
}

footer {
    padding: 51px 114px;
    background: #1D1D1D;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
}

footer>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

footer p {
    margin: 0.2rem 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin-right: 0.5rem;
}

@font-face {
    font-family: 'DIN Alternate';
    src: url('../fonts/DINAlternate-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 992px) {
    .movie-card {
        flex: 0 0 calc(50% - 0.5rem);
    }
}

@media (max-width: 600px) {
    .movie-card {
        flex: 0 0 100%;
    }
}